---
import Info from "../../icon/Info.astro";
---


<a href="/about" title="About page">
  <Info class="info"></Info>
</a>

<style lang="scss">
  a {
    height: 70%;
  }
  svg {
    color: var(--color-text);
    width: auto;
    height: 100%;
  }
</style>