---
import DarkMode from "../../icon/DarkMode.astro";
import LightMode from "../../icon/LightMode.astro";
---


<button type="button" id="killthelights" transition:persist>
  <DarkMode class="moon"></DarkMode>
  <LightMode class="sun"></LightMode>
</button>

<script>
  let darkMode = localStorage.getItem("darkMode");
  const button = document.querySelector("#killthelights");

  const enableDarkMode = () => {
    document.body.classList.add("theme-dark");
    localStorage.setItem("darkMode", "enabled");
  }

  const disableDarkMode = () => {
    document.body.classList.remove("theme-dark");
    localStorage.setItem("darkMode", "disabled");
  }

  function setTheme() {
    if (darkMode === "enabled") {
      enableDarkMode();
    }
  }

  setTheme()

  button?.addEventListener("click", () => {
    darkMode = localStorage.getItem("darkMode");
    if (darkMode !== "enabled") {
      enableDarkMode();
    } else {
      disableDarkMode();
    }
  })
  document.addEventListener('astro:after-swap', () => {
    darkMode = localStorage.getItem("darkMode");
    setTheme()
  })
  
</script>

<style lang="scss">
  button {
    height: 70%;
    background: none;
    border: none;
    cursor: pointer;
  }
  svg {
    color: var(--color-text);
    width: auto;
    height: 100%;
  }

  body:not(.theme-dark) .sun {
    display: none;
  }

  :root:has(body.theme-dark) .moon {
    display: none;
  }
</style>