---
import ArrowDown from "../icon/ArrowDown.astro";
---

<div class="select">
  <select>
    <slot />
  </select>
  <ArrowDown></ArrowDown>
</div>

<style lang="scss">
  $horizontal-pad: 0.7rem;
  $arrow-width: 1.6rem;
  $gap: $horizontal-pad;
  
  .select {
    --select-bg-color: var(--color-003);
    --select-text-color: var(--color-005);
    border-radius: var(--element-border-radius);
    overflow: hidden;
    position: relative;
    font-size: 1.2em;
  }
  
  select {
    background-color: var(--select-bg-color);
    transition: background-color 100ms ease;
    height: 100%;
    border: none;
    font: inherit;
    font-weight: 600;
    color: var(--select-text-color);
    padding: .3rem ($arrow-width + $horizontal-pad + $gap - 0.8rem) .3rem $horizontal-pad;
    appearance: none;
    outline: none;

    body:not(.theme-dark) &:hover {
      background-color: color-mix(in oklab, var(--select-bg-color) 90%, black 10%);
    }

    :root:has(body.theme-dark) &:hover {
      background-color: color-mix(in oklab, var(--select-bg-color) 90%, white 10%);
    }
  }

  svg {
    position: absolute;
    top: 0;
    right: $horizontal-pad - 0.4rem;
    height: 100%;
    width: $arrow-width;
    pointer-events: none;
    color: var(--select-text-color);
  }
</style>