---
const { ...rest } = Astro.props;
---

<button type="button" {...rest}><slot></slot></button>

<style lang="scss">
  button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: .5em;
    padding: .45em .55em;
    white-space: nowrap;
    font: inherit;
    font-weight: 600;
  }
</style>