---
const { name, manufacturer, image, rating } = Astro.props;
---

<section class="card">
  <section class="image"><img src={image || "/img/syppi-typsi-bw-o.svg"} alt=""></section>
  <section class="info">
    <h2 class="title">{name}</h2>
    <section class="sub">
      <h4 class="manuf">{manufacturer}</h4>
    </section>
  </section>
  <div class="rating">
    <p>{rating}/100</p>
  </div>
  </section>
</section>

<style lang="scss">
  .card {
    display: grid;
    grid-template-columns: 100px auto min-content;
    align-items: end;
    gap: 8px;
    height: 200px;
    padding: 1em;
    border-radius: var(--element-border-radius);
    // background-color: var(--color-002);
    outline: var(--pane-outline) solid var(--color-003);
    .image {
      height: 100%;
      width: 100%;
      overflow: hidden;
      padding: 0 .5em;
      box-sizing: border-box;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 4px;
    .title {
      line-height: 1.2;
      word-break: break-word;
    }
    .manuf {
      color: var(--color-005);
    }
  }
  
  .rating {
    font-size: 1.4em;
    font-weight: 600;

  }
  .sub {
    display: flex;
    justify-content: space-between;
  }
</style>