---
import ArrowLeftTail from "../../icon/ArrowLeftTail.astro";
import ArrowRightTail from "../../icon/ArrowRightTail.astro";
import GenericButton from "../../input/button/GenericButton.astro";
---

<section class="paginator">
  <GenericButton class="backandforth back-button">
    <ArrowLeftTail></ArrowLeftTail>
  </GenericButton>
  <section class="numbers">
    <GenericButton>1</GenericButton>
    <GenericButton>2</GenericButton>
    <GenericButton>3</GenericButton>
    <span style="user-select: none;">...</span>
    <GenericButton>100</GenericButton>
  </section>
  <GenericButton class="backandforth forward-button">
    <ArrowRightTail></ArrowRightTail>
  </GenericButton>
</section>

<style lang="scss">
  .paginator {
    display: flex;
    gap: .3em;
    height: 100%;
  }
  .backandforth {
    border-radius: 999em;
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    svg {
      height: 100%;
      scale: 0.8;
      width: auto;
    }
    &:hover {
      background-color: var(--color-003) !important;
    }
  }
  .numbers {
    display: flex;
    align-items: center;
    gap: 0;
    background-color: var(--color-003);
    border-radius: 999em;
    flex-shrink: 0;
    padding: 0 .7em;
    & > * {
      padding: .4em;
    }
    button {
      color: var(--color-005);
      background-color: transparent !important;
      border-radius: 999em;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
</style>