---
import ResultHeader from "./ResultHeader.astro";
---

<section class="container">
  <ResultHeader></ResultHeader>
  <section class="results">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi praesentium illo soluta obcaecati, quam, expedita dicta fugit optio, assumenda totam veniam distinctio hic qui! Exercitationem, blanditiis eum distinctio quasi cumque veniam similique magnam modi, in veritatis a temporibus esse magni, dolore impedit vero et! Aspernatur ipsam repudiandae officiis assumenda explicabo recusandae id, voluptatum itaque? Libero, eum! Vero tenetur quam obcaecati facere ad architecto reiciendis libero officiis! Cupiditate amet, natus ut voluptatibus quos fugit commodi quisquam laudantium, dignissimos enim dicta quod, accusantium asperiores reiciendis nulla magnam obcaecati dolores quo illum provident non. Incidunt earum molestias dolor minima ipsam delectus dolorem veniam sed harum natus, quis fugiat repellendus aspernatur saepe dolore consequatur, illum velit accusamus doloribus omnis dignissimos accusantium ex qui. Maiores tenetur quas voluptatum reprehenderit facere repudiandae, est, sed nemo, magni ab voluptate officiis accusamus inventore odit provident totam. Quam, provident quidem alias id laudantium nisi architecto recusandae assumenda inventore consectetur earum corrupti ipsa repellat totam natus saepe facere reiciendis a ea similique modi dignissimos suscipit ratione eveniet! Vero velit suscipit sunt pariatur itaque, earum culpa voluptas aut dolores enim officia recusandae ex quas iusto adipisci voluptatibus deleniti nam totam veritatis molestiae architecto quam hic. Exercitationem, reprehenderit quam hic perspiciatis nemo ullam impedit quas beatae delectus iste. Nam nesciunt voluptas placeat inventore aperiam libero totam molestiae reiciendis fuga adipisci eius sint ipsam qui, explicabo officia omnis harum temporibus veritatis error obcaecati earum unde magni. Natus quidem harum architecto error atque illo nisi eos facilis! Eligendi minima fuga, illum dignissimos ex cumque mollitia delectus explicabo suscipit repudiandae facere perspiciatis laboriosam quaerat asperiores? Modi, consectetur. Ab harum veniam ad quisquam quas maxime sunt qui minus aliquam aut dignissimos, aspernatur alias similique ipsum, recusandae perferendis in quo aliquid modi id inventore accusamus architecto! Atque expedita voluptatem reiciendis distinctio nulla odio magni quaerat praesentium nemo vel ad, fugiat tempore ipsa alias. Suscipit at laborum laudantium iure aperiam optio explicabo assumenda vel possimus, quos necessitatibus magnam numquam architecto veniam ullam voluptas modi accusantium cum ducimus labore esse. Incidunt consequuntur eius quidem. Culpa porro error consectetur eius nobis temporibus voluptatem eligendi! Fuga quia obcaecati ipsam enim pariatur nobis eaque ex ea repellendus atque fugit, ullam dignissimos quas, tenetur error rerum iure? At blanditiis reprehenderit autem quisquam unde nisi, corrupti et reiciendis labore esse! Nesciunt consequuntur iusto deserunt labore eius fugit nemo temporibus, ratione, a, vitae quia ut? Perferendis maxime a mollitia doloremque nulla accusantium eaque reiciendis deleniti? Veritatis nihil voluptatem optio hic asperiores culpa delectus reiciendis officia accusamus beatae impedit laborum earum, libero cupiditate eos. Optio recusandae veritatis itaque perspiciatis delectus quidem ullam iste dolorum quia, facilis dolorem suscipit non omnis harum obcaecati mollitia possimus pariatur maiores fugit exercitationem laborum. Perferendis suscipit quasi, dolorum quo qui esse labore cumque, libero quaerat iste, reprehenderit corrupti nostrum perspiciatis illum maiores exercitationem cupiditate repudiandae doloribus blanditiis deserunt earum ratione sit numquam. Tempora fugit, eum fugiat ipsa alias eius obcaecati veritatis? Dolor, similique. Deleniti doloremque porro vitae laudantium error excepturi odit blanditiis iure, eum sunt reprehenderit necessitatibus saepe repellat rerum fuga?<h2>
  </section>
</section>

<style lang="scss">
  .container {
    height: 100%;
    display: grid;
    gap: var(--pane-outline);
    grid-template-rows: auto auto;
    overflow: hidden;
  }

  .results {
    background-color: var(--color-002);
    overflow-y: scroll;
    padding: 20px;
    h2 {
      font-weight: 500;
    }
  }
</style>