---
import GridCard from "./GridCard.astro";
import ResultFooter from "./ResultFooter.astro";
import ResultHeader from "./ResultHeader.astro";
---

<section class="container">
  <ResultHeader></ResultHeader>
  <section class="mainview">
    <section class="results">
      <GridCard name="Lorem ipsum" manufacturer="Dolor sit amet Co." rating={Math.floor(Math.random()*100)}></GridCard>
      <GridCard name="Lorem ipsum" manufacturer="Dolor sit amet Co." rating={Math.floor(Math.random()*100)}></GridCard>
      <GridCard name="Lorem ipsum" manufacturer="Dolor sit amet Co." rating={Math.floor(Math.random()*100)}></GridCard>
      <GridCard name="Lorem ipsum" manufacturer="Dolor sit amet Co." rating={Math.floor(Math.random()*100)}></GridCard>
      <GridCard name="Lorem ipsum" manufacturer="Dolor sit amet Co." rating={Math.floor(Math.random()*100)}></GridCard>
      <GridCard name="Lorem ipsum" manufacturer="Dolor sit amet Co." rating={Math.floor(Math.random()*100)}></GridCard>
    </section>
    <ResultFooter></ResultFooter>
  </section>
</section>

<style lang="scss">
  .container {
    height: 100%;
    display: grid;
    gap: var(--pane-outline);
    grid-template-rows: min-content auto;
    overflow: hidden;
  }

  .mainview {
    overflow-y: scroll;
    display: grid;
    grid-template-rows: auto min-content;
  }

  .results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    gap: 16px;
    background-color: var(--color-002);
    padding: 20px;
    h2 {
      font-weight: 500;
    }
  }
</style>