---
import SearchBar from "../search/SearchBar.astro";
import SwitchTheme from "../input/button/SwitchTheme.astro";
import AboutButton from "../input/button/AboutButton.astro";
import ModeButton from "../input/button/ModeButton.astro";
---

<section class="left">
  <a href="/" class="typsilogo"><img class="theme-light" src="/img/typsilogo-black.svg" alt="" /><img class="theme-dark" src="/img/typsilogo-white.svg" alt="" /></a>
  <a href="/" class="syppilogo"><img class="theme-light" src="/img/syppilogo-black.svg" alt="" /><img class="theme-dark" src="/img/syppilogo-white.svg" alt="" /></a>
  <SearchBar></SearchBar>
</section>
<section class="right">
  <ModeButton></ModeButton>
  <AboutButton></AboutButton>
  <SwitchTheme></SwitchTheme>
  <!-- <GenericButton class="login">Log in</GenericButton>
  <GenericButton class="signup">Sign up</GenericButton> -->
  <p>demouser</p>
</section>

<script>
  function initialize() {
    if (window.location.hostname.split(".")[0] === 'typsi') {
      (document.querySelector('.typsilogo')! as HTMLElement).style.display = 'inherit'
    }
    if (window.location.hostname.split(".")[0] === 'syppi') {
      (document.querySelector('.syppilogo')! as HTMLElement).style.display = 'inherit'
    }
  }
  initialize()
  document.addEventListener('astro:after-swap', initialize)
</script>

<style lang="scss">
  .left {
    height: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
    min-width: 0;
  }
  .right {
    height: 100%;
    display: flex;
    gap: 14px;
    align-items: center;
  }
  a {
    height: 100%;
  }
  img {
    display: block;
    height: 100%;
    width: auto;
  }
  .right button {
    font-size: 1.3em;
  }

  .signup {
    --button-bg-color: var(--color-primary);
    --button-text-color: white;
  }

  body:not(.theme-dark) .theme-dark {
    display: none;
  }

  :root:has(body.theme-dark) .theme-light {
    display: none;
  }

  .syppilogo, .typsilogo {
    display: none;
  }
</style>