---
import ArrowRight from "../icon/ArrowRightTail.astro";
import MagGlass from "../icon/MagGlass.astro";
---

<section class="search-bar">
  <div class="left">
    <MagGlass></MagGlass>
    <!-- <p>Search for drinks, categories & more...</p> -->
    <input type="search" placeholder="Search for drinks, categories & more..."></input>
  </div>
  <div class="right">
    <ArrowRight></ArrowRight>
  </div>
</section>

<script>
  const searchbox = document.querySelector('.search-bar input[type="search"]')!

  console.log(location.pathname);
  if (location.pathname !== '/') {
    searchbox.addEventListener('keypress', async (e) => {
      if (e.key === 'Enter') {
        window.location.href = '/'
      }
    })
  }
</script>

<style lang="scss">
  .search-bar {
    width: 600px;
    min-width: 180px;
    height: 100%;
    // height: fit-content;
    box-sizing: border-box;
    display: flex;
    // flex-basis: 600px;
    justify-content: space-between;
    padding: 8px 13px;
    border-radius: 999em;
    background-color: var(--color-001);
    outline: 2px solid var(--color-003);

    * {
      // flex-shrink: 0;
    }

    .left {
      display: flex;
      gap: 8px;
      align-items: center;
      min-width: 0;
      width: 100%;
      // p {
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      //   white-space: nowrap;
      //   font-size: 1.5em;
      //   color: var(--color-004);
      //   font-weight: 500;
      // }
    }
    
    svg {
      color: var(--color-004);
      height: 100%;
      min-width: 26px;
    }

    input {
      // &::placeholder {
      //   color: var(--color-004);
      //   opacity: 1;
      // }
      font: inherit;
      font-size: 1.5em;
      color: var(--color-004);
      font-weight: 500;
      padding: 0;
      flex-grow: 1;
      outline: none;
      border: none;
      background: transparent;
      text-overflow: ellipsis;
      min-width: 0;
    }
  }
</style>