---

---

<section class="about">
    <section class="large">
        <section class="logo">
            <a href="/"><img class="theme-light" src="/img/syppilogo-black.svg" alt="" /><img class="theme-dark" src="/img/syppilogo-white.svg" alt="" /></a>
            <p class="slash">/</p>
            <a href="/"><img class="theme-light" src="/img/typsilogo-black.svg" alt="" /><img class="theme-dark" src="/img/typsilogo-white.svg" alt="" /></a>
        </section>
        <p class="title"> A review platform for beverages </p>
        <section class="horizontal">
            <section class="madeBy">
                <p>Made by 2nd-year</p>
                <p>BCompSc students</p>
            </section>
            <section class="who">
                <p>Oliver Jõgar</p>
                <p>Matias Jürgenson</p>
                <p>Joosep Hubel</p>
            </section>
        </section>
        <section class="desc">
            <p>This project was part of the annual student project</p>
            <p>competition at the University of Tartu Institute of Computer </p>
            <p>Science in 2024.</p>
        </section>
        <section class="ut">
            <img height="10%" class="theme-light" src="/img/ati.svg" alt="" /><img class="theme-dark" src="/img/ati.svg" alt="" />
            <img class="theme-light" src="/img/utics.svg" alt="" /><img class="theme-dark" src="/img/utics.svg" alt="" />
        </section>
    </section>
  </section>
  
  <style lang="scss">   
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .large {
      display: grid;
      justify-items: center;
    }
    .logo {
      min-width: 100%;
      display: flex;
      flex-direction: row;
    }
    .ut {
      max-width: 100px;
      display: flex;
      flex-direction: row;
    }
    .slash {
        font-size: 6em;
        padding-left: 2.1em;
        padding-right: 0.1em;
        color: var(--color-text);
    }
    .ut > img {
      display: block;
      height: 10%;
      width: auto;
    }
    img {
      display: block;
      height: 100%;
      width: auto;
    }
    .horizontal {
      min-width: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      font-size: 1em;
      color: var(--color-003);
    }
    .madeBy {
      justify-content: left;
      align-items: left;
      font-size: 2em;
      color: var(--color-text);
      text-align: left;
    }
    .who {
      font-size: 2.5em;
      color: var(--color-text);
      text-align: left;
    }
    .title {
      padding: 0.3em;
      font-size: 3em;
      color: var(--color-004);
    }

    .desc {
      padding: 0.5em;
      font-size: 2em;
      color: var(--color-text);
    }
    
    a {
      color: var(--color-primary);
    }
    body:not(.theme-dark) .theme-dark {
        display: none;
    }

    :root:has(body.theme-dark) .theme-light {
        display: none;
    }
  </style>