---
import Filters from "./filter/Filters.astro";
import Results from "./result/Results.astro";
---

<section class="browse-view">
  <Filters></Filters>
  <Results></Results>
</section>

<style lang="scss">
  .browse-view {
    min-height: 100%;
    display: grid;
    grid-template-columns: 300px auto;
    gap: var(--pane-outline);
  }
</style>