---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/header/Header.astro";
import "../styles/palette.scss";
import "../styles/sizes.scss";
const { title } = Astro.props;

let prefix: string;

switch (Astro.url.hostname.split(".")[0]) {
	case "syppi":
		prefix = "syppi🧃";
		break;
	case "typsi":
		prefix = "typsi🍹";
		break;
	default:
		break;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{prefix}{title}</title>
		<ViewTransitions></ViewTransitions>
	</head>
	<body>
		<Header></Header>
    <slot></slot>
	</body>
</html>

<style lang="scss" is:global>
	@font-face {
		font-family: "Nunito";
		src: url("/fonts/Nunito-VariableFont_wght.ttf");
	}

	html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
  }

	body {
		height: 100vh;
		display: grid;
		grid-template-rows: min-content auto;
		color: var(--color-text);
		background-color: var(--color-001);
		font-family: "Nunito";
	}
</style>